<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>flappy monkey</title>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
      /*.ios {cursor: pointer;}*/
    </style>
    <script src="p5.js"></script>
    <script src="p5.sound.js"></script>
    <script src="../app/sketch.js"></script>
    <script src="../app/bird.js"></script>
    <script src="../app/pipe.js"></script>
  </head>
  <body></body>
  <script type="text/javascript">
    // if( /iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
    //   document.body.classList.add("ios");
    // }
  </script>
</html>
